.icon {
    @include unselectable;
    cursor: inherit;
    vertical-align: middle;
    svg {
        background-color: transparent;
        fill: currentColor;
        stroke-width: 0;
        stroke: currentColor;
        pointer-events: none;
        width: 1.5rem;
        height: 1.5rem;
    }
    // Sizes
    &.is-small {
        height: 1rem;
        width: 1rem;
    }
    &.is-medium {
        height: 2rem;
        width: 2rem;
    }
    &.is-large {
        height: 3rem;
        width: 3rem;
    }
    // Colors overrides
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.is-#{$name} {
            color: $color !important;
        }
    }
}
