<template>
    <span class="icon" :class="[type, size]">
        <i :class="['fa', `fa-${icon}` ]"></i>
    </span>
</template>

<script>
    export default {
        name: 'bIcon',
        props: {
            type: String,
            icon: String,
            size: String
        }
    }
</script>
